.head {
    padding: 0 20px;
    background-color: #1F2937;
    margin: -10px;
}

.tab {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 20px; 
    list-style-type: none;
    align-content:
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

p, li {
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px;
}

.title {
    display: flex;
}

img {
    margin: 10px;
}